
<h1 style="color:aliceblue; text-shadow: 0 0 15px black; text-align:center;">Get Company</h1><br>
<br>
<div class="col-sm-3" style="background-color: rgb(92, 106, 189); border-radius: 2%; margin-left: 2%;">
  <h1 style="margin-left:3% ; text-shadow: 0 0 15px rgb(94, 92, 92), 0 0 15px rgb(46, 44, 44); color:white;">{{company._compName}}</h1>
  <h3 style="margin-left:3% ; text-shadow: 0 0 15px rgb(94, 92, 92), 0 0 15px rgb(46, 44, 44); color:rgb(44, 44, 117);">ID:{{company._id}}</h3>
  <h3 style="margin-left:3% ; text-shadow: 0 0 15px rgb(94, 92, 92), 0 0 15px rgb(46, 44, 44); color:rgb(44, 44, 117);">Password:{{company._password}}</h3>
  <h3 style="margin-left:3% ; text-shadow: 0 0 15px rgb(94, 92, 92), 0 0 15px rgb(46, 44, 44); color:rgb(44, 44, 117);">Email:{{company._email}}</h3>
</div>
<br>

