  <h1 style="color:aliceblue; text-shadow: 0 0 15px black; text-align:center;">Update Coupon</h1><br>
  <div class="dropdown" style="padding-left: 3%">
      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" (click)="getCouponsForUpdate()">
          Select Coupon <span class="glyphicon glyphicon-search"></span>
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
         <li class="dropdown-header" *ngFor="let coup of coupons" (click)="setCoupon(coup)"><strong> {{coup._title}}</strong></li>
      </ul>
  </div>
  <br>

  <form *ngIf="coupon._title!=''" class="form-horizontal" style="margin-left: 20px">
    <h1 style="text-align:center; text-shadow: 0 0 15px grey, 0 0 15px rgb(100, 95, 95); color:white;">{{coupon._title}}</h1>
    <br>
    <h3 *ngIf="date==null || price==null" style="text-align:center;color:red ; text-shadow: 0 0 10px black;">Please enter values</h3>
      <div class="form-group">
          <label for="inputEndDate" class="control-label col-sm-2">New End Date - <span class="glyphicon glyphicon-calendar" style="color:rgb(214, 55, 55)"></span></label>
          <div class="col-sm-6">
              <input name="endDate" class="form-control" placeholder="New End Date"
                      type="date" id="inputEndDate" [(ngModel)]="date" />
          </div>
      </div>
      <div class="form-group">
          <label for="inputPrice" class="control-label col-sm-2">New Price</label>
          <div class="col-sm-6">
              <input name="price" class="form-control" placeholder="New Price"
                      type="number" id="inputPrice" [(ngModel)]="price" />
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button *ngIf="date!=null && price!=null && price>0"  class="btn btn-warning" (click)="updateCoupon()">Update <span class="glyphicon glyphicon-floppy-disk"></span></button>
          </div>
      </div>
  </form>
