img{
  width: 18vw;
  height: 25vh;
  border: 2% solid rgb(56, 144, 216);
  animation-duration: 3s;
}
table{
  box-shadow: 0 0 5px gray;
  display: inline;
  margin: 3%;

}
thead{
  padding: 3%;
  box-shadow: 0 0 15px gray;
}
h3{
  padding: 3%;
}

