<h1 style="color:aliceblue; text-shadow: 0 0 15px black; text-align:center;">Create new Company</h1><br>
<form class="form-horizontal" style="margin-left: 20px">
    <h3 *ngIf="email==null || password==null || name==null" style="text-align:center;color:white ; text-shadow: 0 0 10px black;">Please enter values</h3>
    <div class="form-group">
        <label for="inputCompanyName" class="control-label col-sm-2">Company Name</label>
        <div class="col-sm-6">
            <input name="name" class="form-control" placeholder="Company Name"
                    type="text" id="inputCompName" [(ngModel)]="name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputUserName" class="control-label col-sm-2">Email - <span class="glyphicon glyphicon-envelope" style="color:rgb(214, 55, 55)"></span></label>
        <div class="col-sm-6">
            <input name="email" class="form-control" placeholder="Email"
                    type="text" id="inputCompEmail" [(ngModel)]="email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="control-label col-sm-2">Password</label>
        <div class="col-sm-6">
            <input name="password" class="form-control" placeholder="Password"
                    type="password" id="inputPassword" [(ngModel)]="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button *ngIf="email!=null && email!='' && password!=null && password!='' && name!=null && name!=''" class="btn btn-success btn-lg" (click)="createCompanyButton()">Create <span class="glyphicon glyphicon-lock"></span></button>
        </div>
    </div>
</form>
